{% extends 'head.html' %}

{% block content %}



<h1>About Us </h1>
We are two students from Harvard that want to give back to the sneaker community. We have both been "sneakerheads" for many years
and we have seen the increase in popularity of the Jordan sneakers. Bla bla bla. With popularity comes demand, and with demand comes 
higher prices. Bla bla bla we are offering a platform that allows people to buy a raffle ticket, or more, for a shoe. If your raffle ticket is picked, 
we ship you the shoes, for FREE. blablabla write some more text here andrew. 


<h1> Our Mission </h1>


	Our mission is to give back to the sneaker community in a new way. There are many forums, release dates websites, and mobile apps already, so we decided to try something different. There are different reasons why we started LottoKicks. <br>
	1- We want to make sneakers available for everyone, no matter what your economic situation is. Especially with the growing number of resellers, shoes are getting less and less affordable. You could get a brand new pair of shoes for almost nothing! <br>
	2- Limited releases can be very frustrating. So many things can go wrong when it is time to click "Add to Cart" at 8 o'clock on Saturday morning. Most people do not succeed in securing a limited pair of shoes. We want to offer sneakerheads a chance to win a pair of their "grails", once again for almost nothing! 


<h1>How It Works</h1>
Winning on LottoKicks is easy. To start you need 2 things <br>
	1- Create a LottoKicks account <br>
	2- Have a <a href="www.paypal.com"> PayPal </a> account ready. <br>

Once you have that, all you need to do is wait until you see a pair of shoes that fits and that you want. You then select a number of tickets, pay using PayPal, and wait until the contest is over.   <br>
Once the contest is over, we randomly select a winner, and notify him/her through email. We double box the shoes, print a shipping label, and send the shoes your way. No more additional costs! <br>
You patiently wait until they arrive at your doorstep. <br> <br> <br>

We would love to put a picture of each winner rocking the kicks on our websites, so if you win, we would appreciate if you would give back to us by sending us a picture or 2. 
 



<h1> Contact Us </h1>

<form id='contactus' method='post' accept-charset='UTF-8'>
	{{form.hidden_tag()}}

	<span class="red">*</span>Required fields <br>

	You full name<span class="red">*</span> <br>
	{{form.fullname(size=80)}} <br>
	<br>
	Your email address<span class="red">*</span> <br>
	{{form.email (size = 80)}} <br>
	<br>
	Message<span class="red">*</span> <br>
	{{form.message}} <br>
	<br>
	<label> ReCaptcha </label> <br>
	{{form.recaptcha}}

	<input type="submit">
</form>



{% endblock %}