{% extends 'head.html' %}

{% block content %}
<div id="account_top">
	<div id="history">
		<h1> Transaction History </h1>
		<table id="purchase_history">
		{% for t in tix %}
			<tr>
				<td> {{t.date}} </td>
				<td>---You bought {{t.num_tickets}} tickets for <a href="/buy_tickets/{{t.kick.id}}">{{t.kick.shoe_name}} </a> </td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div id="edit_pass">
		<form method="post">
			{{form.hidden_tag()}}

			<h1> Change Password </h1>
			Please enter your password: <br>
			{{form.old(size=60)}} <br>
			Enter new password:<br>
			{{form.new(size=60)}}<br>	
			Confirm new <br>
			{{form.confirm_new(size=60)}} <br>
		<input type="submit">
	</form>
	</div>
</div>
<div id="edit_info">
	<form method="post">
					{{form.hidden_tag()}}

		<div class="personal">
			<h1> Account info </h1>
			{{edit_form.firstname(size=60)}} <br>
			Please enter your last name : <br>
			{{edit_form.lastname(size=60)}} <br>
			Please enter your email: <br>
			{{edit_form.email(size=60)}} <br>

		</div>
		<div class="address">

			Please enter your street address : <br>
			{{edit_form.address_street(size=60)}} <br>
			Please enter your city : <br>
			{{edit_form.address_city(size=60)}} <br>
			Please enter your state : <br>
			{{edit_form.address_state}} <br>
			{{edit_form.address_country}}
			Please enter your zip code: <br>
			{{edit_form.address_zipcode(size=60)}} <br>
		</div>
		<input type="submit" value="Commit Changes">
	</form>
</div>

{% endblock %}
